<div style="width: 100%" class="">
  <div style="width: 30%" class="">
    <aside class="p-10 w-[237px] bg-fondo-aside h-full bg-red-100">
      <div class="mb-12 pb-12 font-bold text-challenges.io">
        <span class="text-dev">Dev</span>challenges.io
      </div>

      <div class="my-5 font-bold text-[15px] text-navegacion">Typography</div>

      <div class="my-5 font-bold text-[15px] text-navegacion">Grid</div>
      <a href="" routerLink="">
        <div class="my-5 font-bold text-[15px] text-navegacion">Buttons</div>
      </a>
      <div class="my-5 font-bold text-[15px] text-navegacion text-gray-900">
        Inputs
      </div>
    </aside>
  </div>
  <div style="width: 70%">
    <h1>inpust</h1>
  </div>
</div>
